/*
	Developed on 07-Jan-2015 by
	© 2015 Lucas Machado
	http://machadolucas.me
*/
html, body {
	padding: 0em;
	margin: 0em;

	font-family: "VT323", monospace;
	background: url('bg.jpg');
	background-size: cover;
	color: #eaeaea;
	text-align: center;
	min-height: 100vh;
	position: relative;
}
a {
	color: #eaeaea;
}
#content {
	position: absolute;
	top: 10vh;
	left: calc(50vw - 17.5em);
	background: rgba(0,0,0,0.8);
	padding: 1em 3em;
	font-size: 1.2em;
	border: 0.1em solid #000;
	border-radius: 1em;
}
#content h1{
	float: left;
}
#content h2{
	float: right;
	padding: 0em 0.5em;
}
#stage {
	font-family: monospace;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #000;
	color: lime;
	padding: 0em 1.5em;
	border-radius: 1em;
	border: 0.3em solid #dadada;
	cursor: default;

	margin: 6em 1em 1em;
	
}
#stage p {
	margin: 0em;
	padding: 0em;
	text-shadow: 0 0 2px lime;
}
#final-score {
	color: red;
	font-size: 1.5em;
	text-align: center;
}

@-webkit-keyframes greenPulse {
  from { text-shadow: 0 0 1px lime; }
  50% { text-shadow: 0 0 6px lime; }
  to { text-shadow: 0 0 1px lime; }
}
@keyframes greenPulse {
  from { text-shadow: 0 0 1px lime; }
  50% { text-shadow: 0 0 6px lime; }
  to { text-shadow: 0 0 1px lime; }
}
#newLevel {
	display: none;
}
#splash,#newLevel {
	-webkit-animation: greenPulse 3s infinite;
	animation: greenPulse 3s infinite;

	position: absolute;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
	
	color: lime;
	text-align: center;
	font-size: 2em;
}

.bg-credits {
	position: fixed;
	bottom: 0.3rem;
	right: 1rem;
	font-size: 0.8em;
	color: rgba(255,255,255,0.3);
}
.cp {
	position: fixed;
	bottom: 0.3rem;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}